{{!-- <div class="wrapper">
  <div class="container">
    <div>{{this.title}}</div>
    <div>
      <button id= "delete note"data-id="{{this._id}}">Remove note</button>
    </div>
  </div>
</div> --}}